
.nav-button {
   text-align:center;
   text-decoration:none;
   font-family: 'Reenie Beanie', cursive;
   color:#111112;
   padding:12px;
   backface-visibility: hidden;
   transform: scale(1, 1);
   transition: transform 0.6s;
}
.nav-button:hover {
   transform: scale(1.2, 1.2);
   color:#111112;
   cursor:pointer;
}
.nav-bar {
   text-align:center;
   width:100%;
   display:flex;
   align-items: center;
   justify-content: space-between;
}
.nav-button:after {
   display:block;
   content: '';
   border-bottom: solid 3px #d83013;  
   transform: scaleX(0);  
   transition: transform 250ms ease-in-out;
 }
 .nav-button:hover:after { transform: scaleX(1); }
 .nav-button.fromRight:after{ transform-origin:100% 50%; }
 .nav-button.fromLeft:after{  transform-origin: 0% 50%; }

 .transition-swup {
   transition: 0.5s;
   opacity:1;
 }
 
 html.is-animating .transition-swup {
   opacity: 0;
 }